.hero-section {
    position: relative;
    background-color: #576F35;
}

.hero-content-wrapper {
    padding-top: 100px;
    padding-bottom: 40px;
}

.hero-title {
    font-weight: 600;
    font-size: 52px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FBFBFB;
    margin-bottom: 20px;
}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #FBFBFB;
}

.hero-image-wrapper {
    background-image: rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2),
        url(../img/hero_img/hero-image_mob@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 372px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-image-wrapper {
        background-image: url(../img/hero_img/hero-image_mob@2x.jpg);
    }
}

@media only screen and (max-width: 374px) {
    .hero-title {
        font-size: 42px;
    }
}

/* TABLET STYLES */

@media only screen and (min-width: 768px) {
    .hero-content-wrapper {
        padding-top: 120px;
        padding-bottom: 52px;
    }

    .hero-title {
        font-size: 76px;
        margin-bottom: 24px;
    }

    .hero-text {
        font-size: 16px;
        line-height: 1.25;
        max-width: 603px;
    }

    .hero-image-wrapper {
        background-image: rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2),
            url(../img/hero_img/hero-image_tab@1x.jpg);
        height: 536px;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-image-wrapper {
                background-image: url(../img/hero_img/hero-image_tab@2x.jpg);
            }
    }
}

/* DEKSTOP STYLES */

@media only screen and (min-width: 1280px) {
    .hero-container {
        display: flex;
        max-width: 1280px;
        margin: 0 auto;
    }

    .hero-content-wrapper {
        padding-top: 232px;
        width: 50%;
    }

    .hero-title {
        width: 502px;
        margin-bottom: 128px;
    }

    .hero-text {
        max-width: 472px;
    }

    .hero-image-wrapper {
        background-image: rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2),
                url(../img/hero_img/hero-image_desk@1x.jpg);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        height: 796px;
        width: 50%;
    }

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero-image-wrapper {
                background-image: url(../img/hero_img/hero-image_desk@2x.jpg);
            }
    }
}







