body {
        font-family: "Inter Tight", sans-serif;
        color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

ul,
ol {
        list-style: none;
        margin: 0;
        padding-left: 0;
}

a {
        text-decoration: none;
        color: inherit;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

.container {
        min-width: 320px;
        max-width: 375px;
        margin: 0 auto;
        padding: 0 20px;
}

@media only screen and (min-width: 768px) {
        .container {
                max-width: 768px;
                padding: 0 32px;
        }
}

@media only screen and (min-width: 1280px) {
        .container {
                max-width: 1280px;
                padding: 0 100px;
        }
}

/* HEADER */

.page-header {
        position: absolute;
        top: 28px;
        background-color: transparent;
}

.header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.logo-icon{
        fill: black;
}

.header-nav
.order-button{
        display: none;
}

.nav-list{
        display: flex;
        gap: 8px;
}

.nav-item{
        border-radius: 12px;
        padding: 12px;
        /* width: 83px; */
        min-height: 44px;
}

.nav-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        text-align: center;
        border: 1px solid #fbfbfb;
}
/* .header-logo{
        display: flex;
        align-items: center;
        gap: 4px;
} */


/* MAIN SECTION  */

.main-section {
        position: relative;
        /* background-color: #576f35; */
}
.main-title,
.main-text{
        color: transparent;
}
/* .about-icon-box {
        border-radius: 19px;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;
}

.about-item:nth-child(1) .about-icon-box {
        background-color: #02897a;
}

.about-item:nth-child(2) .about-icon-box {
        background-color: #4d8dff;
}

.about-item:nth-child(3) .about-icon-box {
        background-color: #740a76;
} */

/* .about-item:nth-child(4) .about-icon-box {
        background-color: #f03e3d;
} */

.about-item-title::before {
        content: "";
        width: 54px;
        height: 54px;
        border-radius: 19px;
        margin-bottom: 18px;

        display: block;
        background-repeat: no-repeat;
        background-position: center;
}

.about-item:nth-child(1) .about-item-title::before {
        background-color: #02897a;
        background-image: url(../images/icon-1.svg);
      
}

.about-item:nth-child(2) .about-item-title::before {
        background-color: #4d8dff;
        background-image: url(../images/icon-2.svg);
}
.about-item:nth-child(3) .about-item-title::before {
        background-color: #740a76;
        background-image: url(../images/icon-3.svg);
}

.about-item:nth-child(4) .about-item-title::before {
        background-color: #f03e3d;
        background-image: url(../images/icon-4.svg);
}
