body {
        font-family: "Inter Tight", sans-serif;
        
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin: 0;
}

ul,
ol {
        list-style: none;
        margin: 0;
        padding-left: 0;
}

a {
        text-decoration: none;
        color: inherit;
}

img {
        display: block;
        max-width: 100%;
        height: auto;
}

button{
        cursor: pointer;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.container {
        min-width: 320px;
        max-width: 375px;
        margin: 0 auto;
        padding: 0 20px;
}

@media only screen and (min-width: 768px) {
        .container {
                max-width: 768px;
                padding: 0 32px;
        }
}

@media only screen and (min-width: 1280px) {
        .container {
                max-width: 1280px;
                padding: 0 100px;
        }
}


/* HEADER */

.page-header {
        position: absolute;
        width: 100%;
        top: 20px;
        background-color: transparent;
        z-index: 1;
}

.header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.main-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 216px;
        outline: none;
}

.logo-icon,
.logo-icon-text{
        fill: #fbfbfb;
}

.header-wrapper{
        display: none;
}

.burger-button{
        border: none;
        padding: 0;
        background-color: transparent;
}

.burger-icon{
        fill: #fbfbfb;
        display: block;
}



@media screen and (max-width: 767px) {
        .main-logo{
                width: 168px;
        }
        .logo-icon{
                width: 16px;
                height: 16px;
        }
        .logo-icon-text{
                width: 148px;
                height: 12px;
        }
        .burger-icon{
                width: 32px;
                height: 32px;
        }
}

@media screen and (min-width: 768px) {
        .page-header{
                top: 32px;
        }
}

@media screen and (min-width: 1280px) {
        .header-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 498px;
        }
        .nav-list {
                display: flex;
                gap: 8px;
        }
        .nav-link {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.25;
                text-align: center;
                color: #fbfbfb;
                border: 1px solid #fbfbfb;
                border-radius: 12px;
                padding: 12px;
                height: 44px;
                display: block;
                outline: none;
        }
        .nav-link:hover,
        .nav-link:focus {
                background-color: #d4bfc4;
                color: #7a3145;
        }
        .nav-link:active {
                background-color: #fbfbfb;
                color: #7a3145;
        }
        .order-button{
                background-color: #7a3145;
                border: none;
                outline: none;
                border-radius: 30px;
                padding: 16px 32px;
                min-width: 157px;
                min-height: 52px;
                font-weight: 600;
                font-size: 18px;
                line-height: 1.11;
                letter-spacing: -0.01em;
                text-transform: uppercase;
                text-align: center;
                color: #fbfbfb;
        }
        .order-button:hover,
        .order-button:focus{
                background-color: #d4bfc4;
                color: #7a3145;
        }
        .order-button:active {
                background-color: #fbfbfb;
                color: #7a3145;
        }
        .burger-button{
                display: none;
        }
}

/* MODAL is-open */

/* Mobile menu */


.mobile-tablet-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #576F35;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%) scale(0.5);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition-property: transform, opacity, visibility, scale;
}

.mobile-tablet-menu.is-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translate(0);
}

.mobile-menu-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; 
        height: 100%;
        padding-top: 296px;
        padding-bottom: 52px; 
}

.menu-close-button {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
}

.icon-close {
        fill: #FBFBFB;
}

.menu-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: auto;
}

.menu-link {
        display: block;
        cursor: pointer;
        border: 1px solid #FBFBFB;
        background-color: transparent;
        border-radius: 12px;
        padding: 12px 18px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        text-align: center;
        color: #FBFBFB;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-item:hover,
.menu-list-item:focus {
        background-color: #FBFBFB;
}

.menu-list-item:hover .menu-link,
.menu-list-item:focus .menu-link {
        color: #7A3145;
}

.menu-shop-button {
        background-color: #7A3145;
        margin: 0 auto;
        color: #FBFBFB;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        padding: 16px 41px;
        border-radius: 30px;
        border: transparent;
        min-width: 175px;
        min-height: 52px;
        transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-shop-button:hover,
.menu-shop-button:focus {
        background-color: #FBFBFB;
        color: #7A3145;
}

@media only screen and (min-width: 768px) {
        .mobile-tablet-menu {
                right: 0;
                left: auto;
                width: 351px;
        }

        .mobile-menu-container{
                padding-top: 360px;
                padding-bottom: 48px;
        }

        .menu-close-button {
                right: 32px;
                top: 32px;
                width: 40px;
                height: 40px;
        }

        .icon-close {
                width: 40px;
                height: 40px;
        }

        .menu-link {
                padding: 12px;
                font-size: 16px;
                line-height: 1.25;
        }

        .menu-shop-button {
                min-width: 157px;
                padding: 16px 32px;
        }
}

@media screen and (min-width: 1280px) {
        .mobile-tablet-menu {
                display: none;
        }
}


/* HERO SECTION */

.hero-section {
        position: relative;
        background-color: #576f35;
} 

.hero-content-wrapper{
        padding-top: 100px;
        padding-bottom: 40px;
}

.hero-title {
        font-weight: 600;
        font-size: 52px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        margin-bottom: 20px;
}

.hero-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #fbfbfb;
}

.hero-img-wrapper{
        background-image: url(../images/hero/hero-mob.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 372px;
        /* max-width: 375px; */
        margin: 0 auto;
}

@media only screen and (max-width: 374px) {
        .hero-title {
                font-size: 42px;
        }
}

@media only screen and (min-width: 768px) {
        .hero-content-wrapper {
                padding-top: 120px;
                padding-bottom: 52px;
        }
        .hero-title {
                font-size: 76px;
                margin-bottom: 24px;
        }
        .hero-text {
                font-size: 16px;
                line-height: 1.25;
                max-width: 603px;
        }
        .hero-img-wrapper{
                background-image: url(../images/hero/imagetab1x.jpg);
                height: 536px;
                /* max-width: 768px; */
        }
}
          
@media only screen and (min-width: 1280px) {
        .hero-container{
                display: flex;
                max-width: 1280px;
                margin: 0 auto;
        } 

        .hero-content-wrapper {
                padding-top: 232px;
                padding-right: 36px;
                width: 50%;
        }
        .hero-title {
                width: 502px;
                margin-bottom: 128px;
        }
        .hero-text {
                width: 450px;
        }
        .hero-img-wrapper{
                background-image: url(../images/hero/imagedesk1x.jpg);
                height: 796px;
                width: 50%;
        }
} 

/* HOW-IT-WORKS STYLES */

.works-img-wrapper {
        background-color: #7a3145;
        padding: 40px 20px;
}

.img-box {
        display: flex;
        justify-content: center;
        align-items: center;
}

.works-img {
        border-radius: 30px;
        width: 335px;
        height: 452px;
}

.works-content-wrapper {
        padding: 80px 20px;
        background-color: #576f35;
}

.order-title {
        font-weight: 600;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        margin-bottom: 20px;
}

.part-order {
        color: #d4bfc4;
}

.order-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #fbfbfb;
        margin-bottom: 40px;
}

.ol-list {
        display: flex;
        counter-reset: li-counter;
        flex-direction: column;
        gap: 20px;
}

.ol-list li {
        display: flex;
        align-items: center;
        gap: 24px;
        background-color: #fbfbfb;
        border-radius: 15px;
        padding: 12px 24px;
}

.ol-list li::before {
        content: counter(li-counter);
        counter-increment: li-counter;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        color: #fbfbfb;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        background-color: #7a3145;
        outline: 5px solid #d4bfc4;
        flex-shrink: 0;
}

.part-li {
        font-weight: 700;
        color: #141414;
}

.steps-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #858585;
}

@media only screen and (min-width: 768px) {
        .works-img-wrapper {
                padding: 100px 64px;
        }
        .works-img {
                width: 640px;
                height: 640px;
        }
        .works-content-wrapper {
                padding: 100px 164px;
        }
        .order-title {
                font-size: 32px;
                margin-bottom: 24px;
        }
        .order-text {
                font-size: 16px;
                line-height: 1.25;
                margin-bottom: 52px;
        }
        .ol-list {
                gap: 24px;
        }
        .steps-text {
                font-size: 16px;
                line-height: 1.25;
        }
}

@media only screen and (min-width: 1280px) {
        .works-main-container{
                display: flex;
        } 
        .works-img-wrapper{
                padding: 100px;
                width: 50%;
        }
        .works-img {
                width: 440px;
                height: 560px;
        }
        .works-content-wrapper{
                padding: 100px;
                width: 50%;
        }
        .order-text{
                margin-bottom: 104px;
        }
        .steps-text{
                width: 325px;
        }
        
} 

/* ADVERTISEMENT SECTION */

.advertisement-section{
        background-color: #fbfbfb;
        padding: 80px 0;
}

.advertisement-text{
        font-weight: 600;
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        max-width: 335px;
}

.discount-part{
        position: relative;
        display: inline-block;
        color: #fbfbfb;  
        z-index: 1;
        max-width: 335px;
}

.discount-part::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background-color: #576f35;
        border-radius: 12px;
        z-index: -1;
        height: 102px;
}

@media only screen and (min-width: 768px) {
        .advertisement-section {
                padding: 100px 0;
        }
        .advertisement-text {
                font-size: 64px;
                line-height: 1;
                max-width: 704px;
        }

        .discount-part{
                max-width: 675px;

        }
        .discount-part::before{
                height: 86px;
                top: -20px;
        }
}

@media only screen and (min-width: 1280px) {
        .advertisement-text {
                font-size: 76px;
                max-width: 1054px;
        }

        .discount-part{
                max-width: 808px;
        }
        
        .discount-part::before {
                height: 84px;
                right: -6px;
                top: -4px;
                left: -16px;
        }
} 


/* VEGETABLES STYLES */

.vegetables-section {
        background-color: #7A3145;
        padding: 80px 0;
}

.vegetables-header {
        font-size: 48px;
        font-weight: 600;
        line-height: 1.08;
        letter-spacing: -0.01em;
        color: #FBFBFB;
        max-width: 335px;
        text-transform: uppercase;
        margin-bottom: 20px;
}

.vegetables-accent {
        color: #D4BFC4;
}

.vegetables-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: #FBFBFB;
        margin-bottom: 40px;
}

.vegetables-list {
        display: flex;
        gap: 20px;
        flex-direction: column;
}

.vegetables-item {
        background-color: #FBFBFB;
        border-radius: 40px;
        padding: 32px 24px;
}

.vegetables-item-wrapper {
        margin-bottom: 12px;
}

.vegetables-item-header {
        font-size: 28px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.01em;
        margin-bottom: 12px;
        text-transform: uppercase;
        color: #7A3145;
}

.vegetables-item-text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
        color: #141414;
}

@media only screen and (min-width: 768px) {
        .vegetables-section {
                padding: 100px 0;
        }

        .vegetables-header {
                font-size: 64px;
                line-height: 1;
                max-width: 508px;
                margin-bottom: 24px;
        }

        .vegetables-text {
                font-size: 16px;
                line-height: 1.25;
                margin-bottom: 52px;
                max-width: 626px;
        }

        .vegetables-list {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 28px 24px;
        }
        
        .vegetables-item {
                width: calc((100% - 24px) / 2);
                padding: 32px 30px;
        }

        .vegetables-item-header {
                font-size: 32px;
        }

        .vegetables-item-text {
                font-size: 16px;
                line-height: 1.25;
        }
}

@media only screen and (max-width: 1279px) {
        .vegetables-img {
                width: 280px;
                height: 240px;
        }
}

@media only screen and (min-width: 1280px) {

        .vegetables-item {
                width: calc((100% - 48px) / 3);
                padding: 32px;
        }

}

/* REVIEWS STYLES */

.reviews-section {
        background-color: #fbfbfb;
        padding: 80px 0;
}

.reviews-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #141414;
        max-width: 335px;
        margin-bottom: 20px;
}

.reviews-title-part {
        color: #576f35;
}

.reviews-title-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #141414;
        max-width: 335px;
        margin-bottom: 40px;
}

.reviews-item {
        background-color: #fbfbfb;
        border: 1px solid #d4bfc4;
        border-radius: 24px;
        padding: 20px 16px;
}

.reviews-item-img{
        margin: 0 auto;
        margin-bottom: 24px;
}

.reviews-item-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        text-align: center;
        color: #141414;
        margin-bottom: 8px;
}

.reviews-item-content {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        text-align: center;
        color: #858585;
        max-width: 288px;
}

@media only screen and (max-width: 767px) {
        .reviews-item:nth-child(2) {
                display: none;
        }
}

@media only screen and (min-width: 768px) {
        .reviews-section {
                padding: 100px 0;
        }

        .reviews-title {
                font-size: 64px;
                line-height: 1;
                max-width: 553px;
                margin-bottom: 24px;
        }

        .reviews-title-text {
                font-size: 16px;
                line-height: 1.25;
                max-width: 553px;
                margin-bottom: 52px;
        }

        .reviews-list {
                display: flex;
                gap: 24px;
        }

        .reviews-item {
                padding: 20px;
         }

        .reviews-item-content {
                font-size: 16px;
                line-height: 1.25;
        }
}

@media only screen and (max-width: 1279px) {
        .reviews-item:nth-child(3) {
                display: none;
        }
}


/* callback styles */

.callback-section {
        background-color: #576f35;
        padding: 80px 0;
}

.callback-wrappper{
        margin-bottom: 40px;
}

.callback-title {
        font-weight: 600;
        font-size: 48px;
        line-height: 1.08;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        margin-bottom: 20px;
}

.callback-accent {
        color: #d4bfc4;
}

.callback-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #fbfbfb;
}

.form-wrapper {
        background-color: #fbfbfb;
        margin: 0 auto;
        border-radius: 30px;
        padding: 40px 20px;
        margin-bottom: 20px;
}

.form-description {
        font-weight: 600;
        font-size: 28px;
        line-height: 1;
        letter-spacing: -0.015em;
        text-transform: uppercase;
        color: #141414;
        margin-bottom: 40px;
}

.highlight-part {
        color: #7a3145;
}

.highlight-accent {
        color: #576f35;
}

.input-name,
.input-email {
        width: 100%;
        height: 48px;
        padding: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #141414;
        border: 1px solid #858585;
        outline: none;
        border-radius: 30px;
        margin-bottom: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .input-email:focus-within,
 .input-name:focus-within,
 .input-comment:focus-within {
        border-color: #141414;
}

.input-email:hover,
.input-email:focus,
.input-name:hover,
.input-name:focus,
.input-comment:hover,
.input-comment:focus{
        box-shadow: 0 0 5px rgba(122, 49, 69, 0.3)
}

.input-email:valid {
        border-color: #3cbc81;
}

.input-email:invalid {
        border-color: #E74A3B;
}

.input-email:invalid:placeholder-shown {
        border-color: #858585;
}

.input-comment {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
        color: #141414;
        border: 1px solid #858585;
        border-radius: 15px;
        width: 100%;
        height: 92px;
        padding: 16px;
        outline: none;
        resize: none;
        margin-bottom: 20px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button {
        border-radius: 30px;
        border: none;
        outline: none;
        height: 52px;
        width: 100%;
        padding: 16px;
        background-color: #7a3145;
        color: #fbfbfb;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:active,
.submit-button:focus {
        background-color: #d4bfc4;
        color: #7A3145;
}

.social-wrapper {
        margin: 0 auto;
        border-radius: 30px;
        padding: 40px 20px;
        background-color: #7a3145;
}

.social-img {
        width: 295px;
        height: 272px;
        border-radius: 15px;
        margin-bottom: 20px;
}

.social-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.43;
        color: #d4bfc4;
        margin-bottom: 16px;
}

.social-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
}

.social-link {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #fbfbfb;
        outline: none;
}

.social-link:focus,
.social-link:focus {
        color: #d4bfc4;
}

.social-item:not(:last-child)::after {
        content: "/";
        color: #fbfbfb;
        margin-left: 8px;
}

/* Tablet style */

@media only screen and (min-width: 768px) {
        .callback-section {
                padding: 100px 0;
        }

        .callback-wrappper{
                width: 640px;
                margin-bottom: 52px;
        }

        .callback-title {
                font-size: 64px;
                line-height: 1;
                margin-bottom: 24px;
        }

        .callback-text {
                font-size: 16px;
                line-height: 1.25;
        }

        .form-wrapper{
                padding: 72px 100px;
                margin-bottom: 32px;
                max-width: 640px;
        }

        .form-description {
                font-size: 32px;
                margin-bottom: 52px;
        }

        .input-name,
        .input-email{
                height: 52px;
                font-size: 16px;
                line-height: 1.25;
                padding: 16px;
        }

        .input-comment{
                font-size: 16px;
                line-height: 1.25;
                margin-bottom: 24px;
                height: 96px;
        }

        .social-wrapper {
                max-width: 640px;
                padding: 52px;
        }
        .social-img {
                width: 536px;
                height: 316px;
                margin-bottom: 52px;
        }
        .social-text {
                font-size: 16px;
                line-height: 1.25;
        }
        .social-list {
                flex-wrap: nowrap;
                gap: 12px;
        }
        .social-item:not(:last-child)::after {
                margin-left: 12px;
        }
}

@media only screen and (min-width: 1280px) {
        .callback-wrappper {
                width: 751px;
        }

        .order-box{
                display: flex;
                gap: 32px;
        }

        .form-wrapper {
                max-width: 524px;
                padding: 52px 48px;
                margin-bottom: 0;
        }

        .form-description {
                width: 428px;
        }

        .social-wrapper {
                padding: 52px 48px;
        }

        .social-img {
                width: 428px;
                height: 352px;
                margin-bottom: 80px;
        }
}

/* FOOTER STYLES */

.page-footer {
        background-color: #7a3145;
        padding-top: 28px;
        padding-bottom: 40px;
}

.footer-box{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 80px;
}

.footer-logo-wrapper {
        max-width: 335px;
}

.footer-logo{
        margin-bottom: 14px;
}

.footer-main-desc {
        color: #fbfbfb;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
}

.footer-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 40px;
}

.footer-link {
        color: #fbfbfb;
        font-size: 32px;
        font-weight: 600;
        line-height: 1;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        cursor: pointer;
        outline: none;
}

.footer-contacts-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
}

.footer-contact-item {
        width: 179px;
}

.footer-contact-link {
        color: #fbfbfb;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.43;
        cursor: pointer;
        outline: none;
}

.footer-link:focus,
.footer-contact-link:focus,
.footer-link:hover,
.footer-contact-link:hover {
        color: #d4bfc4;
        
}

.footer-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.footer-text {
        color: #d4bfc4;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.43;
}

.footer-text-link:not(:last-child)::after {
        content: "/";
        color: #d4bfc4;
        margin-left: 8px;
        margin-right: 8px;
}

.footer-text-link{
        outline: none;
}

/* Footer tablet */

@media only screen and (min-width: 768px) {
        .page-footer {
                padding: 32px 0;
        }

        .footer-box {
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 100px;
        }

        .footer-logo-wrapper {
                max-width: 265px;
        }

        .footer-logo {
                margin-bottom: 24px;
        }

        .footer-main-desc {
                font-size: 16px;
                line-height: 1.25;
        }

        .footer-list {
                gap: 24px;
                margin-bottom: 64px;
        }

        .footer-contacts-list {
                gap: 24px;
        }

        .footer-contact-link {
                font-size: 16px;
                line-height: 1.25;
        }

        .footer-text-wrapper {
                flex-direction: row;
                justify-content: space-between;
        }

        .footer-text {
                font-size: 16px;
                line-height: 1.25;
        }
}

/* Footer DESKTOP */

@media only screen and (min-width: 1280px) {
        .page-footer {
                padding: 52px 0;
        }

        .footer-box {
                margin-bottom: 124px;
        }

        .footer-link-wrapper {
                display: flex;
                justify-content: space-between;
                width: 565px;
        }

        .footer-list {
                margin-bottom: 0;
        }

        .footer-contact-item {
                width: 215px;
        }

        .footer-text-link:not(:last-child)::after {
                margin-left: 12px;
                margin-right: 12px;
        }
}